@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url(./Roboto-Bold.ttf);
}

body {
    background-color: black;
    text-align: center;
    user-select: none;
    font-family: "Roboto";
}

.clock {
    color: white;
    margin-top: 35vh;
    font-weight: bold;
    font-size: 20vh;
}